:root {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: white;
}

textarea {
    border: 1px solid var(--bs-gray-dark);
    border-radius: 8px;
}

.auth {
    width: 20ch;
    scale: 1;
    transition: scale 0.1s ease;
}

.auth:hover {
    scale: 1.1;
    transition: scale 0.1s ease;
}

#button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

#note {
    width: 80vw;
    margin-top: 1rem;
}

#radio-star {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.note-btn {
    scale: 1.5;
    transition: scale 0.1s ease;
}

.note-btn:hover {
    scale: 1.7;
    transition: scale 0.1s ease;
}


#themeSwitcher {
    scale: 1;
    transition: scale 0.1s ease;
}

#themeSwitcher:hover {
    scale: 1.2;
    transition: scale 0.1s ease;
}

.status {
    position: relative;
    transform: translate(0%, -120%);
    display: flex;
    justify-content: end;
    width: 98%;
}

#checkmark {
    width: 3rem;
}

#spinner {
    margin-bottom: 2%;
    margin-right: 2%;
}